@model MvcOnlineTicariOtomasyon.Models.Siniflar.Faturalar

@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Fatura Girme Sayfası</h2>
<br />

<form class="form-group" method="post">

    <label>Fatura Seri NO</label>
    @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
    <br />

    <label>Fatura Sıra NO</label>
    @Html.TextBoxFor(x => x.FaturaSıraNo, new { @class = "form-control" })
    <br />

    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />

    <label>Saat</label>
    @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
    <br />

    <label>Vergi Dairesi</label>
    @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
    <br />

    <label>Teslim Eden</label>
    @Html.TextBoxFor(x => x.TeslimEden, new { @class = "form-control" })
    <br />

    <label>Teslim Alan</label>
    @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Kaydet</button>
</form>
