@model MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket

@{
    ViewBag.Title = "SatisGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Satışlar</h2>
<br />

@using (Html.BeginForm("SatisGuncelle", "Satis", FormMethod.Post))
{

    @Html.HiddenFor(x => x.SatisID)

    <label>Ürün Adı</label>
    @Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    <label>Cari</label>
    @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    <br />
    <label>Personel</label>
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    <label>Adet</label>
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
    <br />
    <label>Fiyat</label>
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />
    <label>Toplam Tutar</label>
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
    <br />
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })

    <br />
    <button class="btn btn-warning">Güncelle</button>

}