@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Departman</h2>
<br />

@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<table class="table table-bordered table-hover table-dark table-striped" style="margin-top: 20px">
    <tr>
        <th>Takip Kodu</th>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>@i.TakipKodu</td>
            <td>@i.Personel</td>
            <td>@i.Alici</td>
            <td>@i.Tarih</td>
            <td><a href="/Kargo/KargoTakip/@i.TakipKodu" class="btn btn-warning">Detaylar</a></td>
        </tr>
    }
</table>

<a href="/Kargo/YeniKargo" class="btn btn-primary">Yeni Kargo Girişi</a>

