@using MvcOnlineTicariOtomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Urun>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Ürünler</h2>
<br />

@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
{
    <p>
        Ürün Adı: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<table class="table table-bordered table-hover table-dark table-striped">
    <tr>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyatı</th>
        <th>Satış Fiyatı</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Satış Yap</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.UrunAd</td>
            <td>@x.Marka</td>
            <td>@x.Stok</td>
            <td>@x.AlisFiyat ₺</td>
            <td>@x.SatisFiyat ₺</td>
            <td>@x.Kategori.KategoriAd</td>
            <td><a href="/Urun/UrunSil/@x.UrunID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Urun/UrunGetir/@x.UrunID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Urun/SatisYap/@x.UrunID" class="btn btn-default" style="background-color: lightcoral; color: white">Satış Yap</a></td>

        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {"page-link"}
})

<a href="/Urun/YeniUrun" class="btn btn-primary">Yeni Ürün</a>