@model MvcOnlineTicariOtomasyon.Models.Siniflar.Urun
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>UrunGetir</h2>
<br />

@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{

@Html.HiddenFor(x => x.UrunID)

<label>Ürün Adı</label>
@Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })

<label>Marka</label>
@Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })

<label>Stok</label>
@Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })

<label>Alış Fiyatı</label>
@Html.TextBoxFor(x => x.AlisFiyat, new { @class = "form-control" })

<label>Satış Fiyatı</label>
@Html.TextBoxFor(x => x.SatisFiyat, new { @class = "form-control" })

<label>Kategori</label>
@Html.DropDownListFor(x => x.Kategoriid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })

<label>Görsel</label>
@Html.TextBoxFor(x => x.UrunGorsel, new { @class = "form-control" })

<label>Durum</label>
@Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })

<br />
<button class="btn btn-warning">Güncelle</button>

}